@import '~open-color/open-color';

@mixin circleButton ($size, $background, $border, $color, $hoverColor) {
    height: $size;
    width: $size;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.3em;

    transition-duration: 0.2s;

    background: $background;
    border: $border;
    color: $color;

    border-radius: 1rem;
    font-size: 1.15rem;

    &:hover {
        //transform: translateY(-0.1rem); 
        box-shadow : 0 0 10px 0px $hoverColor;
        cursor: pointer;

    }
    
}

.wordContainerButton {
    @include circleButton( 1.5em, transparent, 1px solid $oc-red-5, $oc-red-5, $oc-red-3);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    &:hover {
        color: red;
    }
}