@import '~open-color/open-color';
@import '~include-media/dist/include-media';

@mixin bar ($height, $background) {
    height: $height;
	background: $background;
    margin: 0 0 auto;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
}

.header {
    @include bar(8vh, $oc-violet-3);
}

html, body, body>div{
    margin: 0;
    height: 100%;
}

.wrapper {
    height: 100vh;
}

.body {
    height: 85vh;
    margin: 0 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footer {
    @include bar(7vh, $oc-violet-2);
}