@import '~open-color/open-color';
@import '~include-media/dist/include-media';

@mixin bar ($height, $background) {
    height: $height;
	background: $background;
    margin: 0 0 auto;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
}

@mixin placeholder($color) {
    &::placeholder {
        color: $color;
        opacity: 1;
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color;
    }
}

.header {
    @include bar(8vh, $oc-red-5);

    & input {
        color: $oc-red-5;
        padding-left: 0.5em;
        @include placeholder($oc-red-4);
    }

    &>span{
        text-align: center;
        flex-grow: 100;
    }

    &>div {
        height: 35px;
        flex-grow: 1;
        padding-right: 1.5em;
    }
}

html, body, body>div{
    margin: 0;
    height: 100%;
}

.wrapper {
    height: 100vh;
}

.body {
    height: 85vh;
    margin: 0 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footer {
    @include bar(7vh, $oc-red-4);

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top:auto;
    
    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 100%;
        cursor: pointer;
    }

    &>div:nth-child(1) {
        &:hover{
            background: $oc-red-5;
        }
    }
    
    &>div:nth-child(2) {
        background: $oc-gray-5;
        &:hover{
            background: $oc-gray-6;
        }
    }

    &>input {
        display: none;
    }

}