@import 'utils';

@mixin modalButton ($background, $hoverColor, $color, $float) {
    background: $background;
    color: $color; 
    transition-duration: .2s;
    
    float: $float;
    height: 45px;
    width: 50%;
    margin: 3px 0px auto;
    padding:0;
    border-radius: 5px;
    font-size: 20px;

    display: flex;

    &:hover {
        background: $hoverColor;
        cursor: pointer;
    }

    &>span {
        margin:auto;
        
    }
}

.wrapper {
    z-index: 10;
    position: fixed;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    top:0;
    height: 100%;
    width: 100%;
    
    align-items: center;
    justify-content: center;
    
}

.title {
    display: flex;
    margin-bottom: 3px;
    font-size: 1.6em;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: white;
    background: $oc-red-5;
    
    &>p {
        margin: auto;
    }
}

.box {
    width: 450px;
}

@mixin placeholder($color) {
    &::placeholder {
        color: $color;
        opacity: 1;
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color;
    }
}

.contents{
    width: 100%;
    background: white;
    padding: 5px 0px 5px 0px;
    margin: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid $oc-red-4;
    border-width: thin;
    
    input{ 
        @include placeholder($oc-red-4);
        color: $oc-red-5;
        padding-left: 0.5em;
        height: 1.6em;
        width: 2em;
        border: 1px solid $oc-red-4;
        border-width: thin;
        width :98%;
    }
    
    &>div {
        width: 95%;
        margin: 3px auto;
    }
}

.meansList {
    max-height: 300px;
    overflow-y: scroll;
    margin: 3px auto;
    
    .mean {
        overflow: hidden;
        display: flex;
        color:$oc-red-5;

        justify-content: center;
        align-items: center;

        border: 1px solid $oc-red-4;
        height: 1.5rem;
        border-radius: 3px;
        margin: 2px auto;

        text-align: center;
        
        &:hover {
            box-shadow: 0px 0px 3px 0px $oc-red-5;
            .button {
                opacity: 1;
                right: 0rem;
            }
        }

        &>input {
            border: 0px;
        }

        .button {
            display: flex;
            margin-left: auto;
            align-items: center;

            position: relative;
            right: -3rem;
            width: 2rem;
            height: 100%;
            opacity: 0;
            transition: all .4s;
            color : $oc-red-4;
        }
    }
}

.text {
    width:100%;
}

.submit {
    width: 10%;
    color:$oc-red-4;

    &:hover {
        cursor: pointer;
        color:$oc-red-5;
    }
}

.add { 
    @include modalButton( $oc-red-4, $oc-red-5 , white, left )
}

.cancel {
    @include modalButton( $oc-gray-5, $oc-gray-6, white, right )
}

.result {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 0%;
    opacity: 0;
    height: 100%;

    overflow: hidden;
    
    color:$oc-red-7;
    background: white;
    
}
        .total { 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            margin-top: auto;
            font-size: 14em;
        }
        
        .correct {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            margin-bottom:auto;
            font-weight: 700;
            font-size: 23em;
        }

@keyframes open-result {
    0% {
        opacity: 0;
        transform : scale(3)
    }
    40% {
        opacity: 0;
        transform : scale(3)
    }
    60% {
        transform: scale(0.8)
    }
    70% {
        transform: scale(1)
    }
    80%{
        transform: scale(0.8)
    }
    100% {
        transform : scale(1)
    }
}

.open {
    animation-delay: 2s;
    opacity: 1;
    animation: open-result 2s;
}

.close {
    width: 0;
    opacity: 0;
}

.open-wrapper {
    width: 100%;
    right: 0;
    opacity: 1;
    transition-duration: 1s;
}