@import '~open-color/open-color';

@keyframes show {
    from {
        opacity: 0;
        transform: scaleY(0.99) scaleX(1.01);
    }
    
    to {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }
}

.container {
    width : 96%;
    border-radius: 1rem;
    height: 3rem;
    margin: 15px auto;
    vertical-align: middle;
    display: flex;
    animation: show 0.8s;

    &:hover {
        box-shadow: none;
        &>div {
            box-shadow: 0px 0px 10px 0px $oc-red-3;
            cursor: pointer;
        }
    }
}

@mixin contents ($width, $radius) {
    transition: all 0.2s ease-out;
    height: 100%;
    display: flex;
    width: $width;
    border-radius: $radius;
    color : $oc-red-5;
    //border: 2px solid $oc-red-5;
    box-shadow: 1px 1px 7px 0px $oc-red-2;
    align-items: center;
    justify-content: center;
    
    font-size: 1.1em;
    font-weight: 400;        
}

.word {
    @include contents(25%, 1em 0 0 1em );

    border-right: 0px;
}
.mean {
    @include contents(60%, auto );
}
.result {
    @include contents(15%, 0 1em 1em 0 );
    border-left: 0px;
}
